/* condition to prevent scroll when Modal pop up is active */
body.active-modal {
  overflow-y: hidden;
}

/* Background overlay */
.Overlay {
  width: 100vw;
  height: 100%;
  background-color: rgba(49, 49, 49, 0.8);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 888;
  animation: fade-in 400ms forwards;

  /* Actual Modal Pop Up */
  .Modal {
    background-color: #ffff;
    color: black;
    width: 400px;
    height: 400px;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 999;
    /* for scrolling if content is too much */
    overflow-y: hidden;
    animation: slide-in 500ms forwards;

    /* The X button */
    .CancelBtn {
      display: flex;
      justify-content: end;
      background-color: transparent;
      padding-right: 1rem;
      border: none;
      font-size: 25px;
      cursor: pointer;
      color: black;
    }

    h1 {
      text-align: center;
      margin-top: 0.5rem;
    }

    .line {
      background-color: blue;
      width: 5rem;
      height: 3px;
      border-radius: 10px;
      margin: auto;
      margin-bottom: 2rem;
    }

    .user_details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      /* background-color: red; */
      align-items: start;

      strong {
        display: flex;
        gap: 0.8rem;
      }
    }

    .btn_field {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      padding: 1rem 0;
      /* background-color: yellow; */
    }
  }
}

/* Animating Modal */
@keyframes fade-in {
  /* fade in animation for overlay */
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* slide-in animation for modal */
@keyframes slide-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
