@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --light-mode: linear-gradient(
    to bottom right,
    #eef2ff,
    /* indigo-50 */ #ffffff,
    /* white-color */ #e0f2fe /* sky-100 */
  );
  background-attachment: fixed; /* prevents scroll repaint issues */

  --dark-mode: linear-gradient(
    to bottom right,
    #18181b,
    /* zinc-900 */ #121212,
    /* zinc-950 */ #312e81 /* indigo-950 */
  );
  background-attachment: fixed; /* prevents scroll repaint issues */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100vh;
  background: var(--dark-mode);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.light body {
  min-height: 100vh;
  background: var(--light-mode);
}
